<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Simple Spring Boot CRUD and REST app</title>
</head>

<body>
<h2>Events Booking App</h2>
<form action="/timeslots">
    <input type="submit" value="Time slots"/>
</form>
</body>
</html>