<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List of TimeSlots:</title>
</head>
<body>
<p><b>List of Time Slots:</b></p>
<hr>
<div th:each="each : ${timeslots}">
    <a th:href="@{/timeslots/{id}(id=${each.getId()})}" th:text="'ID : ' + ${each.getId()} +
    ' Event Id : ' + ${each.getEventId()} +
    ' Place Id : ' + ${each.getPlaceId()} +
    ' Start Date : ' + ${each.getStartDate()} +
    ' Finish Date : ' + ${each.getFinishDate()}">VALUE</a>
</div>
<hr>
<form action="/timeslots">
    <input type="submit" value="Refresh"/>
</form>
<form action="/timeslots/vacant-timeslots?placeId={placeId}">
    <label for="placeId">Show only vacant Timeslots with PlaceId:</label>
    <input name="placeId" type="text" id="placeId" placeholder="0"/>
    <input type="submit" value="Show"/>
</form>
</body>
</html>